body {
  padding-top: 50px;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 2px solid #ccc;
}
.content-area {
  padding: 0;
}
.transport {
  background-color: #666;
  background-image: -webkit-linear-gradient(top, #989898, #666666);
  padding: 5px 5px 5px 20px;
}
.main {
  padding: 20px 40px;
}

.lesson-header {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  border-bottom: 1px solid #ccc;
  height: 40px;
}
.lesson-wrapper {
  margin: 0 auto;
  width: 85%;
}
.lesson-name {
  color: #969696;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  position: relative;
  top: 11px;
}
.lesson-content {
  margin: 30px 15px;
}
.lesson-objective {
  background-color: #f0faff;
  border-top: 1px solid #c5dfea;
  border-bottom: 1px solid #c5dfea;
  margin-top: 50px;
  margin-bottom: 20px;
}
.lesson-objective-header {
  margin-top: -18px;
  text-align: center;
}
.lesson-objective-label {
  background-color: #fff;
  border: 1px solid #c5dfea;
  display: inline-block;
  padding: 0 .65em;
  height: 2.5em;
  line-height: 2.4em;
  font-weight: bold;
  white-space: nowrap;
}
.lesson-objective-content {
  margin: 30px auto;
  width: 85%;
}
.action-footer {
  position: absolute;
  left: 25%;
  right: 0;
  bottom: 0;
  height: 60px;
  padding-left: 20px;
  padding-top: 8px;
}
