<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>web audio api</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/bootstrap-theme.css" />
  <link rel="stylesheet" href="css/font-awesome.css" />
  <link rel="stylesheet" href="css/app.css" />
  <script src="lib/angular.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="webAudioApp" ng-controller="MainController">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">web audio api</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-3 sidebar">
        <div class="lesson-header">
          <div class="lesson-wrapper">
            <div class="lesson-name">Introduction to EQ</div>
          </div>
        </div>
        <div class="lesson-content">
            <h4>Equalization</h4>
            <p>An equalizer is an important tool for an audio engineer - it adjusts the tone of a sound. If you've ever turned the "Bass" and "Treble" knobs on a car stereo or guitar amp, you've used a very simple EQ before.</p>
            <p>It is very important for an engineer to be able to control the tonal quality of a sound because people can only hear a limited range of frequencies. It is commonly said that our hearing range is only between 20 Hertz and 20,000 Hertz, and in reality when you are mixing you probably will only deal with a small section of those frequencies. So when sounds are too loud or too quiet at certain frequencies they can sound "thin" or "muddy", or it can make it harder to hear one instrument if another instrument is playing too loud in the same frequency range. Every instrument needs its own "space" in the audio spectrum.</p>
        </div>
        <div class="lesson-objective">
          <div class="lesson-objective-header">
            <div class="lesson-objective-label">Objective</div>
          </div>
          <div class="lesson-objective-content">
            <p>This snare track doesn't hit the way it should. Let's give it some punch in the low mids.</p>
            <ol>
              <li>Adjust the mid frequency band to make this snare track cut through the mix.</li>
            </ol>

            <p><a href="#"><i class="fa fa-question-circle"></i> Need a hint?</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 content-area">
        <div class="transport">
          <div class="btn-group" role="group">
            <button class="btn btn-lg" ng-click="stop()" ng-disabled="!isPlaying"><i class="fa fa-stop"></i></button>
            <button class="btn btn-lg" ng-click="play()"><i class="fa fa-play"></i></button>
          </div>
        </div>

        <div class="main">
          <form class="eq">
            <div ng-repeat="control in channelStrip.controls | filter:{type:'biquad'}">
              {{control.name}} gain: {{control.node.gain.value}}
              <input type="range" min="{{control.limits.gain.min}}" max="{{control.limits.gain.max}}" ng-model="control.node.gain.value" />

              <span ng:if="control.node.type == 'peaking'">{{control.name}} frequency: {{control.node.frequency.value}}</span>
              <input type="range" min="{{control.limits.frequency.min}}" max="{{control.limits.frequency.max}}" ng-model="control.node.frequency.value" ng-if="control.node.type == 'peaking'" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="action-footer navbar-inverse">
    <button class="btn btn-lg btn-primary">Save and submit</button>
    <button class="btn btn-lg btn-default" ng-click="reset()">Reset all</button>
  </div>
</body>
</html>
