<div class="lesson-header">
  <div class="lesson-wrapper">
    <div class="lesson-name">{{ lesson.name }}</div>
  </div>
</div>
<div class="lesson-content">
  <p>{{ lesson.description }}</p>
</div>
<div class="lesson-objective">
  <div class="lesson-objective-header">
    <div class="lesson-objective-label">Objective</div>
  </div>
  <div class="lesson-objective-content">
    <p>{{ lesson.objective }}</p>
    <ol>
      <li ng-repeat="obj in lesson.objectiveList">{{ obj }}</li>
    </ol>

    <p><a href="#"><i class="fa fa-question-circle"></i> Need a hint?</a></p>
  </div>
</div>
